// @import "../../swiper-vars.scss";
@at-root {
  :root {
    --swiper-navigation-size: 44px;
    /*
  --swiper-navigation-color: var(--swiper-theme-color);
  */
  }
}

.swiper-button-prev,
.swiper-button-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  &.swiper-button-disabled {
    opacity: 0.35;
    cursor: auto;
    pointer-events: none;
  }
  &:after {
    width: 35px;
    height: 35px;
    border: 2px solid #d4d4d4;
    border-radius: 50%;
  }
}

.swiper-button-next {
  background: url("https://s2.svgbox.net/materialui.svg?ic=arrow_forward&color=d4d4d4");
  background-size: 50% auto;
  background-position: center;
  background-repeat: no-repeat;
}

.swiper-button-prev {
  background: url("https://s2.svgbox.net/materialui.svg?ic=arrow_back&color=d4d4d4");
  background-size: 50% auto;
  background-position: center;
  background-repeat: no-repeat;
}

.swiper-button-prev,
.swiper-rtl .swiper-button-next {
  &:after {
    content: "";
  }
  left: 70px;
  right: auto;
}

.swiper-button-next,
.swiper-rtl .swiper-button-prev {
  &:after {
    content: "";
  }
  right: 70px;
  left: auto;
}

.swiper-button-lock {
  display: none;
}
