.title {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 44px;
  box-sizing: border-box;
  position: relative;
}

.title .title_text {
  text-align: center;
  font-weight: 700;
  font-size: 30px;
}

.title .plusButton {
  position: absolute;
  display: inline-flex;
  top: 8px;
  background-color: transparent;
  padding: 0;
  margin: 0;
  outline: none;
  border: none;
  margin-left: 190px;
  width: 40px;
  height: 40px;
}

.title .plusButton img {
  max-width: 80%;
}

.title .plusButton::after {
  display: block;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background-size: 80%;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: all 0.2s;
}

.title .plusButton:hover::after {
  opacity: 1;
  cursor: pointer;
}

.title .plusButton.green::after {
  background-image: url("/public/image/plusButton1_Hover.png");
}

.title .plusButton.white::after {
  background-image: url("/public/image/plusButton2_Hover.png");
}

.title .plusButton.orange::after {
  background-image: url("/public/image/plusButton3_Hover.png");
}
.title .plusButton.red::after {
  background-image: url("/public/image/plusButton4_Hover.png");
}
